@charset "utf-8";
nav ul {
  background-color: #000;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  display: inherit;
  padding: 10px 20px;
  text-decoration: none;
}

nav {
  font-size: 20px;
}

nav ul li a:hover {
  background-color: #FF0;
}
body {
  background-image: url(daun.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* CSS Document */

